#header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.header.logged-in {
    padding: 20px;
    background: #027CD5;
    color: #fff;
    letter-spacing: .32px;
    line-height: 100%;
    font-family: 'Riona Sans',sans-serif;
}
.logout {
    text-align: left;
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 100%;
    text-transform: capitalize;
    margin-top: 16px;
    float: right;
    text-decoration: none;
    color: #fff;
}
.content-container {
    margin-top: 90px;
}
.content-container div {
    text-align: center;
    font-family: 'Riona Sans Light', sans-serif;
}
#retry-message {
    font-size: 25px;
    line-height: 2;
}
.logo-container img {
    height: 50px;
}
.footer {
    padding: 6px 0 4px;
    background: #027CD5;
    color: #ffffff;
    letter-spacing: 0.32px;
    font-family: 'Riona Sans Light', sans-serif;
    overflow: hidden;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -7px;
}
.footer .footer-container {
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
}

.footer .footer-container .nav-container {
    float: left;
}

.footer .footer-container .nav-container .navigation ul {
    margin: 0;
}

.footer .footer-container .nav-container .navigation ul li {
    display: inline-block;
}

.footer .footer-container .nav-container .navigation ul li:first-child a {
    padding-left: 0 !important;
}

.footer .footer-container .nav-container .navigation ul li:last-child a {
    padding-right: 0 !important;
}

.footer .footer-container .nav-container .navigation ul li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    letter-spacing: 0.32px;
}

.footer .footer-container .nav-container .navigation ul li a:hover {
    color: #FFDE14;
}

.footer .footer-container .copyright-container {
    float: right
}

.footer .footer-container .copyright-container .copyright {
    float: right;
    margin: 10px 0 0 0;
}

.modal-dialog{
    width: 900px !important;
}

.anim-dots{
    display: none;
}

.banner {
    width: 100%;
    text-align: left !important;
    background: #fff;
    font-size: 26px;
    cursor: pointer;
    height: 90px;
    background: url(/images/c2.gif);
}
.banner-text {
    float: left;
    padding-top: 17px;
    padding-left: 8px;
}
.celebration-banner {
    float: right;
    width: 84%;
    height: 90px;

}
html {
    height: 100%;
}
body {
    background: #eaeaea !important;
    height: 100%;
}
.modal-button {
    margin-top: 30px;
}
.clear {
    clear: both;
}

.animation-container{
    min-height: 350px;
}
#a1-year{
    display: none;
    position: absolute;
    top: 20%;
    left: 33%;
}
#a1-great{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
#a1-award{
    display: none;
    position: absolute;
    top: 10%;
    left: 38%;
}

#a1-orders{
    display: none;
    position: absolute;
    top: 10%;
    left: 38%;
}

#a1-orders h4, #a1-orders h2, #a1-orders h3{
    text-align: center;
}

#a1-orders h4{
    font-size: 25px;
}

#a1-orders h3{
    font-size: 35px;
    border-bottom: 6px double black;
    margin-bottom: 0px;
}

#a1-orders h1{
    font-size: 85px;
    margin-top: 10px;
}

#a1-perfect-orders{
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
}

#a1-perfect-orders h1{
    font-size: 100px;
    margin-top: 0px;
}

#a1-perfect-orders h3{
    font-size: 50px;
}

.perfect-ribbon{
    height: 85px;
}

#a1-final{
    display: none;
    padding: 20px;
}

#a1-great h4, #a1-great h2, #a1-year h4, #a1-year h2{
    text-align: left;
}

#a1-great h2, #a1-year h2{
    font-size: 45px;
    margin-top: 10px;
}

#a1-great h4, #a1-year h4{
    font-size: 25px;
}
.row2{
    margin-top: 30px;
}

.blue-ribbon{
    height: 154px;
}

#a1-great .col-md-7{
    padding-top: 20px;
}
#a1-great .col-md-5{
    padding-left: 0px;
}

#a1-orders1{
    width: 45%;
    float: left;
}

#a1-perfect-orders1{
    width: 45%;
    float: right;
}


#a1-great1 h4, #a1-great1 h2, #a1-year1 h4, #a1-year1 h2{
    text-align: left;
}
#a1-year1 h2{
    font-size: 40px;
    margin-top: 10px;
}

#a1-year1 h4{
    font-size: 25px;
}

#a1-great1 h2{
    font-size: 40px;
    margin-top: 25px;
}

#a1-great1 h4{
    font-size: 21px;
}
#a1-orders1 h3{
    font-size: 30px;
}

#a1-orders1 h1{
    font-size: 55px;
    margin-top: 10px;
}

#a1-orders1 h4{
    font-size: 21px;
}

#a1-perfect-orders1 .col-md-5{
    padding-left: 0;
}

#a1-perfect-orders1 .col-md-4{
    padding-right: 0;
}

#a1-perfect-orders1 h1{
    font-size: 80px;
}

#a1-perfect-orders1 h3{
    font-size: 35px;
    text-align: center;
    width: 75%;
}

#a1-perfect-orders1 .perfect-ribbon{
    height: 100px;
}